body {
    background-color: rgb(138, 138, 138);
}

.container {
    top: 15%;
    width: 100%;
    height: 100%;
    position: fixed;
}

.topBar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.table {
    width: 70%;
    height: 100%;
    float: left;
}



.graph {
    width: 30%;
    height: 100%;
    float: right;
}